@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.glyphicon {
    font-size: 20px;
    margin-right: 10px;
}

.right-itens {
    text-align: right;
}
